<i class="type fa fa-<%= message.content_type == 'video' ? 'film' : 'music' %>"></i>
<div class="descCont">
  <h3><%= message.title %></h3>
  <span class="date"><%= message.updated_at.strftime("%H:%M %A, %d %B %Y") %></span>
</div>
