%div.slide{:style => "background-image: url(#{slide.image.url})", :data => {:title => "#{slide.title}"}}
  -if logged_in? && params[:controller] == 'slides'
    .text
      = link_to "Edit", edit_slide_path(slide), class: "delete"
      = link_to "Delete", slide, method: :delete, class: "delete", data: {confirm: "Are you sure?"}
