<% if @admin %>
  <div id="breadcrumbs">
    <%= crumbs @admin.ancestors %>
  </div>
<% end %>

<div class="admins">
  <% if @admin %>
    <%= render @admin %>
    <div id="children">
      <%= render @admin.children %>
    </div>
  <% elsif @admins %>
    <%= render @admins %>
  <% end %>
</div>
