<div id="breadcrumbs">
  <% if @admin %>
    <%= crumbs @admin.ancestors %>
  <% end %>
</div>

<div class="admins">
  <% if @admin %>
    <%= render @admin %>
    <div id="children">
      <%= render @admin.children %>
    </div>
  <% elsif @admins %>
    <%= render @admins %>
  <% end %>
</div>
