<div id="pastor">
  <div class="img">
    <img src="/img/logo.png" alt="Pastor J.S Ajulo" />
  </div>
  <p class="name">
    Pastor J.S Ajulo
  </p>
  <p class="quote">
    A man totally called to preach the gospel  of our Lord and Saviour  Jesus Christ. This he does through sound and undiluted teaching of the Word with prophetic manifestations of the Spirits power.
  </p>
</div>
<div class="row">
  <div id="vision">
    <h3>Our Vision<br><span>To prepare men and women for the kingdom of God</span></h3>
  </div>
  <div id="motto">
    <h3>Our Motto<br><span>"For God so loved the world, that he gave his only begotten Son, that whosoever believeth on him should not perish, but have eternal life."<br><i>- John 3 : 16</i></span></h3>
  </div>
</div>
