<div class="cf" id="slideCont">
  <%= render @slides %>
</div>

<div class="row">
  <div class="cf" id="ans">
    <%= render @ans %>
    <%= link_to "See all announcements", announcements_path %>
  </div>

  <div id="bbcm">
    <div class="show" style="background-image: url(/img/show1.jpg)">
      <h3>Come worship with us.<br><span>Every Sunday @10:00am.<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
    <div class="show" style="background-image: url(/img/show2.jpg)">
      <h3>Take it to the next level<br><span>Join us Wednesdays @5:00pm for an uplifting experience.<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
    <div class="show" style="background-image: url(/img/show3.jpg)">
      <h3>Praise Him till you go<br><span>Join us every Saturday @2:00pm for the Praise Session<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
    <div class="show" style="background-image: url(/img/show4.jpg)">
      <h3>Grow your business<br><span>Fridays @10:00am join the Business Prayers<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
    <div class="show" style="background-image: url(/img/show5.jpg)">
      <h3>Get to greener pastures<br><span>Every Sunday @5:00pm join the Green worship<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
  </div>
</div>

<div class="cf" id="sub">
  <%= render 'subscribers/form' %>
</div>
