<h1>Pages#index</h1>

<div class="cf" id="slideCont">
  <%= render @slides %>
</div>

<div class="cf" id="ans">
  <%= render @ans %>
</div>

<div class="cf" id="sub">
  <%= render 'subscribers/form' %>
</div>
