<div class="cf" id="slideCont">
  <%= render @slides %>
</div>

<div class="row">
  <div class="cf" id="ans">
    <%= render @ans %>
    <%= link_to "See all announcements", announcements_path %>
  </div>

  <div id="bbcm">
    <div class="show" style="background-image: url(/img/worship.jpg)">
      <h3>Come worship with us.<br><span>Every Sunday @9:00am.<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
    <div class="show" style="background-image: url(/img/prayer.jpg)">
      <h3>Workers Prayer Meeting<br><span>Join us Sunday @7:30am for an uplifting prayer session.<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
    <div class="show" style="background-image: url(/img/school.jpg)">
      <h3>Learn about GOD<br><span>Join us every Sunday @8:00am for the Sunday School<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
    <div class="show" style="background-image: url(/img/teaching.jpg)">
      <h3>Teaching and Deliverance<br><span>Tuesdays @5:30pm come and receive GOD's word for you.<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
  </div>
</div>

<div class="cf" id="sub">
  <%= render 'subscribers/form' %>
</div>
