<div class="cf" id="slideCont">
  <%= render @slides %>
</div>

<div class="row">
  <div class="cf" id="ans">
    <%= render @ans %>
  </div>

  <div id="bbcm">
    <div style="background-image: url(/logo.png)">
      <h3>Come worship with us.<br><span>Every Sunday at 10:00 am.<br>No. 28 Owokoniran street, Surulere, Lagos.</span></h3>
    </div>
  </div>
</div>

<div class="cf" id="sub">
  <%= render 'subscribers/form' %>
</div>
