Password Reset

If you have requested a password reset, please click the link below or copy and paste it in your browser
= edit_password_reset_url(@admin.reset_digest, email: @admin.email)
If you have not requested this password reset, ignore this email and besure your account is safe.
