$color: rgba(56,195,0,1);
$tscolor: rgba(56,195,0,0.8);
$rtscolor: rgba(56,195,0,0.5);
$rrtscolor: rgba(56,195,0,0.3);
$white: rgba(255,255,255,1);
$tswhite: rgba(255,255,255,0.8);
$rtswhite: rgba(255,255,255,0.5);
$rrtswhite: rgba(255,255,255,0.3);
$black: rgba(0,0,0,1);
$tsblack: rgba(0,0,0,0.8);
$rtsblack: rgba(0,0,0,0.5);
$rrtsblack: rgba(0,0,0,0.3);
