// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/vars";

#ans {
  width: 100%;
  max-width: 800px;
  background-color: $tswhite;
  padding: 20px;
  margin: 0px auto 0px auto;

  hr {
    margin: 0px 0px 10px 0px;
    border-color: $rrtscolor;
  }

  .an {
    margin-bottom: 10px;

    a {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      text-decoration: none;
      color: $black;
      font-weight: 400;
      line-height: 1.8em;

      &:hover, &:focus { color: $color; }
    }

    p {
      margin: 0;
      font-size: 1.2em;
      text-align: justify;
      font-weight: 300;
    }

    span {
      font-size: 0.7em;
      float: right;
      font-weight: 100;
    }

    a.delete {
      font-size: 0.8em !important;
      line-height: 0.6em !important;
      text-transform: none !important;
    }
  }
}

.anShow {
  width: 100%;
  max-width: 800px;
  background-color: $tswhite;
  padding: 20px;
  margin: 0px auto 0px auto;

  .an {
    margin-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 2em;
      font-weight: 400;
      line-height: 1.8em;
    }

    p {
      margin: 0;
      font-size: 1.2em;
      text-align: justify;
      font-weight: 300;
    }

    a {
      margin: 10px 0;
      display: block;
      font-size: 1em;
      text-decoration: none;
      color: $black;
      font-weight: 400;

      &:hover, &:focus { color: $color; }
    }

    span {
      font-size: 0.7em;
      float: right;
      font-weight: 100;
    }
  }
}
