/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "partials/vars";

* {
  box-sizing: border-box;
  font-family: "Athiti", sans-serif;
  transition: 0.3s;
}

.cf:after, .cf:before {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}

.turbolinks-progress-bar {
  background-color: $color;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $white;
  background-image: url(/img/loader.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  top: 0;
  left: 0;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  background-image: url(/img/pattern.png);
  background-repeat: repeat;
}

#header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $tswhite;

  .cont {
    width: 800px;
    height: 100%;
    margin: auto;

    .headerItems {
      display: inline-block;
      height: 100%;
      float: left;
    }

    .nav {
      width: 365px;
      padding: 25px 40px;

      span {
        a {
          text-decoration: none;
          color: black;
          line-height: 20px;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1em;

          &:hover {
            color: $color;
          }

          &.current {
            color: $color;
          }
        }
      }
    }

    #left {
      text-align: right;

      span {
        margin-left: 50px;
      }
    }

    #center {
      width: 70px;
      padding: 10px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }

    #right {
      span {
        margin-right: 50px;
      }
    }
  }

  &.open {
    height: 100px;
    background-color: transparent;

    .cont {
      .nav {
        width: 350px;
        padding: 40px;
      }

      #center {
        width: 100px;
      }
    }

    + #bodyCont {
      padding-top: 100px !important;
    }
  }
}

#topBar {
  width: 100%;
  max-width: 800px;
  min-height: 40px;
  margin: 0px auto 10px auto;
  background-color: $tswhite;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    line-height: 40px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;

    &:hover {
      color: $color;
    }
  }
}

#bodyCont {
  width: 100%;
  height: 100%;
  padding-top: 70px;

  #scrolling {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
    text-align: center;

    .pagination {
      > * {
        min-width: 40px;
        border: 1px solid $rrtscolor;
        display: inline-block;
        line-height: 40px;
        padding: 0 10px;
        font-size: 1em;
        font-weight: 200;
      }

      a {
        color: $black;
        text-decoration: none;

        &:hover, &:focus {
          background-color: $color;
          color: $white;
        }
      }

      em.current {
        background-color: $color;
        color: $white;
        font-style: normal;
        cursor: default;
      }

      span.disabled {
        color: $rrtsblack;
        cursor: default;
      }
    }

    #preScroll {
      width: 50px;
      height: 50px;
      margin: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    span {
      font-size: 0.8em;
      font-weight: 200;
      color: $tsblack;
    }
  }
}

#flash {
  width: 100%;
  max-width: 800px;
  margin: 0px auto 10px auto;

  p {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;

    &.success { background-color: $rtscolor; }
    &.info { background-color: $rtswhite; }
    &.danger { background-color: rgba(255, 0, 0, 0.5); }
  }
}

form {
  width: 800px;
  max-width: 100%;
  padding: 10px;
  margin: 0px auto 10px auto;
  background-color: rgba(255,255,255,0.8);

  > h3 {
    text-align: center;
    width: 100%;
    max-width: 400px;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0.5em auto 0px auto;
    font-weight: 400;
  }

  > p {
    text-align: center;
    width: 100%;
    max-width: 500px;
    font-size: 1.1em;
    margin: 0px auto 2em auto;
  }

  #create {
    width: 100%;
    max-width: 500px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto 10px auto;
    border: 1px solid $color;
    display: none;
  }

  #errors {
    width: 100%;
    max-width: 500px;
    margin: 0px auto 10px auto;

    h3 {
      font-size: 1.3em;
      font-weight: 400;
      margin: 0;
    }

    p {
      font-size: 0.8em;
      font-weight: 200;

      &:last-child {
        margin-bottom: 1.5em;
      }
    }
  }

  a {
    width: 100%;
    max-width: 200px;
    display: block;
    line-height: 40px;
    height: 40px;
    margin: 0px auto 10px auto;
    color: $black;
    text-decoration: none;
    text-align: center;

    &:hover, &:focus { color: $color; }
  }

  fieldset {
    width: 500px;
    max-width: 98%;
    margin: 0px auto 10px auto;
    position: relative;
    background-color: transparent;
    border: 1px solid $color;
    padding: 0;
    font-size: 0px;

    label {
      min-width: 20%;
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      border-right: 1px solid $rrtscolor;
      font-size: 1rem;
    }

    input[type=text], input[type=email], input[type=password], textarea, input[type=file] {
      width: 100%;
      height: 40px;
      background: transparent;
      text-align: left;
      font-size: 0.8rem;
      border: none;
      padding: 5px 10px 5px 25%;
      outline: none;
    }

    select {
      height: 40px;
      background-color: transparent;
      width: 16%;
      float: left;
      border: none;
      outline: #38c300;
      border-right: 1px solid rgba(56,195,0,0.3);

      &:nth-child(2) {
        margin-left: 20%;
      }

      &:last-child {
        border-right: none;
      }
    }

    input[type=file] { padding: 0px 10px 0px 25%; }

    textarea {
      height: 150px;
      margin-top: 40px;
      padding: 5px 10px;
      border-top: 1px solid $rrtscolor;
      resize: none;
    }
  }

  input[type=submit] {
    display: block;
    width: 500px;
    max-width: 98%;
    height: 40px;
    margin: 0px auto;
    text-transform: uppercase;
    background-color: transparent;
    color: $color;
    border: 1px solid $color;
    cursor: pointer;

    &:hover, &:focus {
      background-color: $color;
      color: $white;
    }
  }
}

#footer {
  width: 100%;
  height: 70px;

  h4 {
    line-height: 70px;
    margin: 0;
    text-align: center;
    font-weight: 300;
  }
}

@media only screen and (max-width: 799px) {
  #loading {
    background-size: 100px 100px;
  }
  #header {
    .cont {
      width: 500px;

      .nav {
        width: 215px;
        padding: 25px 10px;
      }

      #left {
        span {
          margin-left: 20px;
        }
      }

      #right {
        span {
          margin-right: 20px;
        }
      }
    }

    &.open {
      .cont {
        .nav {
          width: 200px;
          padding: 40px 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 499px) {
  #header {
    .cont {
      width: 300px;

      .nav {
        width: 115px;
        padding: 10px 10px;
      }

      #left {
        span {
          margin-left: 0px;
        }
      }

      #right {
        span {
          margin-right: 0px;
        }
      }
    }

    &.open {
      .cont {
        .nav {
          width: 100px;
          padding: 25px 10px;
        }
      }
    }
  }

  form {
    fieldset {
      width: 98%;
    }
    input[type=submit] {
      width: 98%;
    }
  }
}

@media only screen and (max-width: 499px) {
  form {
    fieldset {
      label { min-width: 30%; font-size: 0.8rem; }
      input[type=text], input[type=email], input[type=password] { padding: 5px 5px 5px 35%; }
      input[type=file] { padding: 0px 10px 0px 30%; }
      select { width: 14%;}
    }
  }
}
