<div class="">
  <h2><%= image.event %></h2>
  <h3><%= image.people %></h3>
  <%= image_tag image.image.url if image.image? %>
  <%= link_to "delete", image, method: :delete, data: {confrim: "Are you sure?"} %>
</div>
