<a href="<%= image_path(image) %>" class="image" data-remote="true">
  <div class="img" style="background-image: url(<%= image.image.thumb.url %>)"></div>
  <div class="descCont">
    <h3><%= image.event %></h3>
    <span class="date"><%= image.updated_at.strftime("%H:%M %A, %d %B %Y") %></span>
  </div>
</a>
