#pushDown

.medias
  .cf.mediasCont
    - unless @images.empty?
      - @images.each do |image|
        = link_to render(image), image, remote: true, style: "background-image: url(#{image.image.thumb.url})", class: 'medias'
    - else
      %p There are no images

#scrolling
  = will_paginate @images
