<div id="header">
  <div id="headerCont" class="cf">
    <div id="left" class="headerItems nav">
      <span>
        <a href="/" id="logo">BBCM</a>
      </span>
      <div id="nav">
        <span><%= link_to 'Messages', messages_path, class: "#{'current' if controller?('messages')}" %></span>
        <span><%= link_to 'About', about_path, class: "#{'current' if action?('about')}" %></span>
        <span><%= link_to 'Contact', contact_path, class: "#{'current' if action?('contact')}" %></span>
        <span><%= link_to 'Gallery', gallery_path, class: "#{'current' if controller?('images')}" %></span>
      </div>
    </div>
    <div id="right" class="headerItems nav">
      <a href="https://www.facebook.com/Thebbcm-1772707156285316/" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a href="https://twitter.com/bbcm_church" target="_blank"><i class="fa fa-twitter-square"></i></a>
      <a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a>
    </div>
  </div>
</div>
