<div id="header" class="open">
  <div class="cont">
    <div id="left" class="headerItems nav">
      <span><%= link_to 'Messages', messages_path, class: "#{'current' if controller?('messages')}" %></span>
      <span><%= link_to 'About', about_path, class: "#{'current' if action?('about')}" %></span>
    </div>
    <a href="/" id="center" class="headerItems"><img src="/img/logo.jpg" alt="logo" id="logo" /></a>
    <div id="right" class="headerItems nav">
      <span><%= link_to 'Contact', contact_path, class: "#{'current' if action?('contact')}" %></span>
      <span><%= link_to 'Gallery', gallery_path, class: "#{'current' if controller?('images')}" %></span>
    </div>
  </div>
</div>
